.grid {
    height: 16rem;
    background-image:
        linear-gradient(to right, rgb(203 213 225) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
    background-size: 2.5rem 2.5rem;
    background-position: center center;
}