*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto Mono", monospace; */
    font-family: "Work Sans", sans-serif;
}


html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0 90px;
    padding-top: 150px;
    gap: 60px;
}
#left{
    width: 45%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}


#left h1{
    font-size: 140px;
    font-weight: 500;
    line-height: 135px;
}

#bottom-left{
    /* height: 40%; */
    width: 100%;
    /* background-color: yellow; */
}

#bottom-left #color{
    /* background-color: blue; */
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
}

#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}

#color1{
    width: 20px;
    height: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 5px;
}

#color2{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
}

#bottom-left h2{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 15px;
}

#bottom-left p{
    font-size: 20px;
    width: 65%;
    color: #444;
    line-height: 30px;
}

#right{
    width: 31%;
    height: 90%;
    /* background-color: blue; */
    position: relative;
}

#right-top{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:20px ;
}

#right-top h4{
    font-size: 25px;
    font-weight: 500;
}
#right-top h5{
    font-size: 16px;
}

#right img{
    width: 100%;
    height: 92%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius:50% ;
    background-color: rgb(26, 26, 26);
    color: white;
    right: -15%;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#black-gola h5{
    font-size: 26px;
    font-weight: 400;
}
#rotated{
    position: absolute;
    left: -10%;
    bottom: 0;
    rotate: -90deg;
    transform-origin: 0 0;
   font-size: 30px;
}
